/* 
Designed in Figma
Coded in Visual Studio (HTML, CSS, JS)
Hosted in Github Pages
Domain from Godaddy

-PSK (hello@skparidhi.xyz)

*/

/*Variables*/
:root{
    --bg-color: #84CEEB;
    --nav-inactive-color: #a53c00;
    --nav-active-color: #000000;
    --h2-color: #000000;
    --h1-color: #000000;
    --h2-color: #000000;
    --h3-color: #000000;
    --h4-color: #000000;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1024px) {
    .column {
      width: 50%;
      display: flex;
    }

    .nav-items {
        display: none;
    }

    .button {
        display:none;
    }

    .bottomnav {
        display: flex;
    }
  }

/*Fonts*/
@font-face { font-family: Helvetica; src: url('fonts/Helvetica/Helvetica.ttf'); }

@font-face { font-family: Helvetica; font-weight:bold; src: url('fonts/Helvetica/Helvetica-Bold.ttf'); }

@font-face { font-family: Helvetica; font-style: oblique url('fonts/Helvetica/Helvetica-Oblique.ttf'); }

@font-face { font-family: Helvetica; font-weight:bold; font-style: oblique url('fonts/Helvetica/Helvetica-BoldOblique.ttf'); }

@font-face { font-family: Helvetica; font-weight:lighter url('fonts/Helvetica/helvetica-light-587ebe5a59211.ttf'); }

/*Website*/

* {
    box-sizing: border-box;
}

/*Body*/

body {
    font-family: "Helvetica", sans-serif;
    margin:0;
    padding:0;
    text-align:center;
    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}


/* Navigation */
.nav-container {
    height: auto;
}

.nav-container1 {
  height: 3em;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

.nav-items li {
    list-style: none;
    margin-right: 60px;
}

ul#nav .active {
    color: var(--nav-active-color);
}

.nav-items li a {
    text-decoration: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    color:var(--nav-inactive-color);
    
}

.nav-items li a:hover {
    color:var(--nav-active-color);
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 

  .card  {
    height: 15em;
    width: 25em;
    border-radius: 1em;
    border-radius: 20px;
    
  }
/* 
.line-1 {
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  font-size: 140%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  line-height: 1em;
  margin-top: 2em;
  color: rgb(0, 0, 0);
}

Animation
.anim-typewriter-1 {
animation: typewriter1 1s steps(15) 1s 1 normal both,
           blinkTextCursor1 500ms steps(15) infinite normal;
}
@keyframes typewriter1{
from{width: 0;}
to{width: 6.8em;}
}
@keyframes blinkTextCursor1{
from{border-right-color: rgba(0, 0, 0, 0.75);}
to{border-right-color: transparent;}
}

.anim-typewriter-2 {
  animation: typewriter2 1s steps(15) 1s 1 normal both,
             blinkTextCursor2 500ms steps(15) infinite normal;
}
@keyframes typewriter2{
  from{width: 0;}
  to{width: 6.2em;}
}
@keyframes blinkTextCursor2{
  from{border-right-color: rgba(0, 0, 0, 0.75);}
  to{border-right-color: transparent;}
}
} */

/*Header*/

.head-container {
    display: flex;
    text-align:center;
}

.hero-container{
    align-content: center;
}

.gradient-text {
  background-color: #d5fd21;
  background-image: linear-gradient(45deg, #6d3a00 0%, #ff2121 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.hero-container p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 148.99%;
    color: #000000;
    margin-bottom: 1em;
    align-content:center;

}

.hero-container h1 {
    font-family: Whyte, Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 52px;
    color: #000000;
    margin-bottom: 25px;
    align-content:center;      
}

.hero-container h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 52px;
    color: var(--h2-color);
    margin-top: 50px;
    margin-bottom: 25px;
    
}

.hero-container h3 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    color: var(--h3-color);
    margin-top: 24px;
    margin-bottom: 25px;
}

.hero-container h4 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 40px;
    color: rgb(0, 0, 0);
    margin-top: 1em;
    color: black;
    align-content:center;
    text-decoration: none;

}

.logo {
    color: white;
    text-decoration: none;
}

.logo a{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: black;
    text-decoration: none;
}


@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}



/* Body */


.hyper {
    text-decoration: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}

.hyper:hover {
    text-decoration: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    color: #4b0081  ;
}

.hero-image img {
    justify-items: right;
}

/*Buttons*/

.button {
    display:inline-flexbox;
    margin-top: .5em;
}

.button a {
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0)    ;
    font-size: 17px;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 20px;
    background: #FBAB7E;
    box-shadow:  20px 20px 60px #d5916b,
             -20px -20px 60px #ffc591;
    margin-right: .5em;
    
}

.button a:hover{
    align-items: center;
    justify-content:space-between;
    color: black   ;
    font-size: 17px;
    text-decoration: none;
    padding: 18px 25px;
    border-radius: 20px;
    background: linear-gradient(145deg, #e29a71, #ffb787);
    box-shadow:  20px 20px 60px #d5916b,
             -20px -20px 60px #ffc591;
    margin-top: 100px;
}

/*Layout*/
.main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    
  }

.row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    padding: 10px;
  }

/*Transitions*/

.cover {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: -100vw;
    z-index: 1000;
  }

.transition.slide .cover1 {
    background-color: rgb(255, 255, 255);
    animation: slide 0.3s ease-in-out forwards;
  }
  .transition.slide .cover2 {
    background-color: rgb(134, 134, 134);
    animation: slide 0.3s ease-in-out forwards;
    animation-delay: 0.3s;
  }
  .transition.slide .cover3 {
    background-color: #ffffff;
    animation: slide 0.3s ease-in-out forwards;
    animation-delay: 0.6s;
  }
  @keyframes slide {
    from {
      left: -100vw;
    }
    to {
      left: 0;
    }
  }

  /*Footer*/

.footer {
   bottom: 0;
   width: 100%;
   text-align: center;
   text-decoration: none;
   font-family: Helvetica;
   font-style: normal;
   font-size: 16px;
   padding: 25.98px;    
}

/* Scroll Bar */
::-webkit-scrollbar {
    display: none;
  }

.social {
    margin-bottom: 0.5em;
    align-items: center;
    vertical-align: middle;
}

.social a {
    margin-right: 0.5em;
    vertical-align: middle;
}

.footer h5 {
    font-family: Helvetica;
    font-style: normal;
    font-size: 15px;
    color: rgb(0, 0, 0);
    color: black;
    align-content:center;
    text-decoration: none;
}