* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica", sans-serif;
    background: black;
    margin:0;
    padding:0;
}

/* Navigation */
.nav-container {
    height: 189.5px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    align-items: flex-start;
}

nav ul {
    display: flex;
}

.nav-items li {
    list-style: none;
    margin-right: 60px;
}

ul#nav .active {
    color: white;
}

.nav-items li a {
    text-decoration: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    color: #686464;
    
}

.nav-items li a:hover {
    color: white;
}

/* Typewriter Effect */
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    color: white;
    margin-top: 24px;
    margin-left: 42.27px;
    margin-bottom: 25px;
}

/* Animation */
.anim-typewriter-1 {
  animation: typewriter1 1s steps(15) 1s 1 normal both,
             blinkTextCursor1 500ms steps(15) infinite normal;
}
@keyframes typewriter1{
  from{width: 0;}
  to{width: 192px;}
}
@keyframes blinkTextCursor1{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.anim-typewriter-2 {
    animation: typewriter2 1s steps(15) 1s 1 normal both,
               blinkTextCursor2 500ms steps(15) infinite normal;
  }
  @keyframes typewriter2{
    from{width: 0;}
    to{width: 178px;}
  }
  @keyframes blinkTextCursor2{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

.head-container {
    display: flex;
}

header {
    display: flex;
    align-items: center;
    justify-content:inherit;
    margin-bottom: 100px;
}

.hero-container h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 52px;
    color: #6F6F6F;
    margin-top: 50px;
    margin-left: 42.27px;
    margin-bottom: 25px;
}

.hero-container h3 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    color: white;
    margin-top: 24px;
    margin-left: 42.27px;
    margin-bottom: 25px;
}

.hero-container h4 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: white;
    margin-top: 48px;
    margin-left: 42.27px;
    margin-bottom: 4px;
}

.hero-container p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 148.99%;
    color: #9F9F9F;
    margin-left: 42.27px;
    width: 768px;
}

.hero-container h1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 52px;
    color: #FFFFFF;
    margin-bottom: 25px;
    margin-left: 42.27px;
}

.hyper {
    text-decoration: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}

.hero-image img {
    justify-items: right;
}

.button a {
    align-items: center;
    justify-content: space-between;
    color: white    ;
    font-size: 21px;
    text-decoration: none;
    padding: 8px 43px;
    background: black;
    border-radius: 10px;
    border: 2px solid #ffffff; 
    margin-left: 42.27px;
    margin-top: 100px;
}

.button a:hover{
    align-items: center;
    justify-content: space-between;
    color: black   ;
    font-size: 21px;
    text-decoration: none;

    padding: 8px 43px;

    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid #ffffff; 
    margin-left: 42.27px;
    margin-top: 100px;
}

.grid {
    display: flex;
    grid-template-columns: auto auto;
}

.grid1 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid2 {
    display: flex;
    grid-template-columns: auto;
}

.thumb img {
    background: rgba(196, 196, 196, 0.1);
    border-radius: 37px;
    margin-left: 42.27px;
    padding: 89.93px 22.59px;
    margin-bottom: 52px;
}

.thumb1 img {
    background: rgba(196, 196, 196, 0.1);
    border-radius: 37px;
    margin-left: 42.27px;
    padding: 60.67px 60.67px;
    margin-bottom: 52px;
}

.box {
    padding: 111px 61px;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 37px;
    margin-left: 42.27px;
    margin-bottom: 52px;
}

.box1 {
    padding: 111px 48.5px;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 37px;
    margin-left: 42.27px;
    margin-bottom: 52px;
}

.box2 {
    padding: 111px 48.5px;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 37px;
    margin-left: 42.27px;
    margin-bottom: 52px;
}

.box3 {
    padding: 111px 68px;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 37px;
    margin-left: 42.27px;
    margin-bottom: 52px;
}

.box4 {
    padding: 111px 90.5px;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 37px;
    margin-left: 42.27px;
    margin-bottom: 52px;
}

.box5 {
    padding: 111px 28.5px;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 37px;
    margin-left: 42.27px;
    margin-bottom: 52px;
}

.box a{
    text-decoration: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 148.99%;
    color: white;
}

.box1 a{
    text-decoration: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 148.99%;
    color: white;
}

.box2 a{
    text-decoration: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 148.99%;
    color: white;
}

.box3 a{
    text-decoration: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 148.99%;
    color: white;
}

.box4 a{
    text-decoration: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 148.99%;
    color: white;
}

.box5 a{
    text-decoration: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 148.99%;
    color: white;
}

.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(196, 196, 196, 0.1);;
   color: white;
   text-align: center;
   text-decoration: none;
   font-family: Helvetica;
   font-style: normal;
   font-size: 16px;
   padding: 25.98px;    
}

/* Scroll Bar */
::-webkit-scrollbar {
    display: none;
  }